.svg_space
	display block
	width auto
	margin 0 auto
	margin-bottom 0
	margin-top 20px

.control_button_area
	position fixed
	left 0
	right 0
	bottom 50px
	display flex
	justify-content space-between
	width 200px
	margin 0 auto

.title
	font-family 'Quicksand', '游ゴシック体', 'Yu Gothic'
	position absolute
	color #fff
	text-align center
	font-weight 100
	font-size 18px
	top 40px
	left 0
	right 0
